# AXL
build/
generated/
node_modules/
*.log
dist/
*.tgz
.env
*.env
*.tsbuildinfo

/test-clean-init/
/test-express-app/
/test-projects/bookmark-manager/
/test-projects/express-app/
/test-projects/test-init-*/
/e2e-*/
/hotel-empty/
